{% load static %}
<script src="{% static 'store_app/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'store_app/styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'store_app/styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'store_app/plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'store_app/plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'store_app/plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'store_app/plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'store_app/plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'store_app/plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'store_app/plugins/easing/easing.js' %}"></script>
<script src="{% static 'store_app/plugins/Isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'store_app/plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'store_app/js/custom.js' %}"></script>